{% load static %}
<!--begin::Sidebar Brand-->
<div class="sidebar-brand">
  <a href="/" class="brand-link">
    <img src="{% static 'adminlte/img/logo2.png' %}" width="500px"   alt="Logo" class="brand-image opacity-75 shadow"/>
   <!-- <span class="brand-text fw-light">Cargo Chains</span>-->
  </a>
</div>
<!--end::Sidebar Brand-->

<!--begin::Sidebar Wrapper-->
<div class="sidebar-wrapper">
  <nav class="mt-2">
    <ul class="nav sidebar-menu flex-column" role="menu">
      <!-- Dashboard -->
      <li class="nav-item">
        <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">
          <i class="nav-icon fas fa-home"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <!-- Customers -->
      <li class="nav-item">
        <a href="#"
           class="nav-link {% if '/customers' in request.path %}active{% endif %}">
          <i class="nav-icon fas fa-users"></i>
          <p>Customers</p>
        </a>
      </li>

      <!-- Shipments -->
      <li class="nav-item">
        <a href="#"
           class="nav-link {% if '/shipments' in request.path %}active{% endif %}">
          <i class="nav-icon fas fa-ship"></i>
          <p>Shipments</p>
        </a>
      </li>

      <!-- Sales -->
      <li class="nav-item">
        <a href="{% url 'sales:freight_list' %}"
           class="nav-link {% if '/sales/quotations' in request.path %}active{% endif %}">
          <i class="nav-icon fas fa-file-invoice-dollar"></i>
          <p>Sales</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
<!--end::Sidebar Wrapper-->
